.user-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-list-filter {
    display: flex;
    justify-content: flex-start;
}

.user-list-filter input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
  }

.title {
    color: #9b8406;
}

.main-content-area {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}