/* Contenedor principal de la pill */
.user-pill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

/* Imagen de perfil */
.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 80%;
  object-fit: cover;
}

/* Info del usuario */
.user-info {
  flex: 1;
  margin-left: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-email {
  font-size: 12px;
  color: gray;
}

/* Casa de Hogwarts */
.user-house {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

/* Colores pastel para cada casa */
.gryffindor {
  background-color: #ffdddd;
}

.slytherin {
  background-color: #ddffdd;
}

.hufflepuff {
  background-color: #fff4cc;
}

.ravenclaw {
  background-color: #dde5ff;
}

.user-role {
  font-size: 13px;
  opacity: 0.8;
}

.delete-button-disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.7;
}

.delete-icon {
  background: transparent;
  border: none;
  font-size: 18px;
  margin-right: 20px;
}

.delete-icon:hover {
  transform: scale(1.1);
}