.user-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-list-filter {
    display: flex;
    justify-content: flex-start;
}

.user-list-filter input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters-container {
    display: flex;
    gap: 10px; /* Espacio entre filtros */
    flex-wrap: wrap; /* Para que se acomoden si no entran en una sola línea */
  }